<div class="white-btn-bg-left"></div>
<input class="addedit-edit-contentauthor-basic-cancel admin-action-button-middle-bg addedit-form-expertusone-throbber exp-addedit-form-cancel-button white-btn-bg-middle" data-wrapperid="contentauthor-presentation-addedit-form" onclick="presentationClose();" tabindex="6" type="button" id="edit-contentauthor-basic-cancel" name="Close" value="<%=window.parent.Drupal.t('LBL123')%>" style="cursor:pointer;">
<div class="white-btn-bg-right"></div>
<div class="admin-save-pub-unpub-button-container">
    <div class="admin-save-button-left-bg"></div>
    <input class="addedit-edit-contentauthor-basic-save edit-catalog-course-save-publish" onclick="saveInteractionsH5PWrapper();" data-wrapperid="contentauthor-presentation-addedit-form1" tabindex="4" type="button" id="content_save_btn" name="save" style="cursor:pointer;" value="<%=window.parent.Drupal.t('LBL141')%>">
   <% if(PRESENTATION_ACTION_PARAMS.PRESENTATION_PUBLISHED  == false) { %>
    <span id="pub-unpub-action-btn" onclick="displayPubActionList()" class="pub-unpub-add-action-wrapper pub-unbpub-more-btn">&nbsp;</span>
    <% } else{ %>
    <div class="admin-save-button-right-bg" style="display: block; float: left; width: 6px; height: 20px; background: #27245e; border: 1px solid #27245e; border-radius: 0px 6px 6px 0px; position: relative; top: 1px;"></div>
    <% } %>
</div> 
<ul class="catalog-pub-add-list" style="display: none;">
    <%
      if(PRESENTATION_ACTION_PARAMS.PRESENTATION_SAVE_AND_PUBLISH == "TRUE")
      {
    %>
    <li class="save-pub-unpub-sub-menu">
      <input data-wrapperid="contentauthor-presentation-addedit-form" onclick="saveInteractionsH5PWrapper_presentation();" tabindex="5" class="addedit-edit-catalog-course-save-publish addedit-form-expertusone-throbber admin-save-button-middle-bg form-submit ajax-processed" type="button" id="contentAuthorPresentation_save_pub_btn" name="saveandpublish" value="<%=window.parent.Drupal.t('LBL614')%>">
    </li>
    <%
     }
      if(PRESENTATION_ACTION_PARAMS.PRESENTATION_UNPUBLISH  == "TRUE")
      {
    %>
    <li class="save-pub-unpub-sub-menu">
      <input onclick="saveInteractionsH5PWrapper_presentation();" class="addedit-edit-catalog-course-save-unpublish addedit-form-expertusone-throbber form-submit ajax-processed" data-wrapperid="contentauthor-presentation-addedit-form" type="button" id="contentAuthorPresentation_save_unpub_btn" name="unpublish" value="<%=window.parent.Drupal.t('LBL571')%>">    
    </li>
     <%
      }
      if(PRESENTATION_ACTION_PARAMS.PRESENTATION_DELETE ==  "TRUE")
      {
      var msg = window.parent.Drupal.t('MSG357') + " " + window.parent.Drupal.t('Content') +" " + PRESENTATION_ACTION_PARAMS.PRESENTATION_NAME;
     %>
    <li class="save-pub-unpub-sub-menu">
        <input onclick="$('#root-admin').data('narrowsearch').displayDeleteWizard('<%= msg %>',<%= PRESENTATION_ACTION_PARAMS.SLT_CONTENT_MASTER_ID %>,'content'); return false;" class="admin-delete-button-bg form-submit" type="submit" id="edit-catalog-course-delete" name="delete" value="<%=window.parent.Drupal.t('LBL286')%>">
    </li>
    <%
     }
    %>
</ul>
<div class="clearBoth"></div>
