 <div class="field text h5peditor-interaction-label form-item-question-row">
    <% 
    var text1 = "";
    if(GLOBALPARAMS_H5P.action.params.text != undefined){
    text1 = decodeURIComponent(GLOBALPARAMS_H5P.action.params.text);  
    }
     %>
    
    
    
   <label class="h5peditor-label-wrapper"><span class="h5peditor-label h5peditor-required"><%=window.parent.Drupal.t('LBL325')%>:</span><input class="h5peditor-text" value="<%=text1%>" id="questionid" type="text" value="" maxlength="255"></label>
  </div> 
  
<div class="field text h5peditor-interaction-label form-item-choices-row">
   <label class="h5peditor-label-wrapper"><span class="h5peditor-label h5peditor-required goToChoices"><%=window.parent.Drupal.t('LBL3043')%>:</span><img src="/sites/all/themes/core/expertusoneV2/expertusone-internals/images/help-info.png" class="vtip info-enr-upload" title="<%= window.parent.Drupal.t('MSG804')%>"></img></label>
</div>
<div class="choices_container">
</div>
 <div class="field text h5peditor-interaction-label form-item-add-another-row">
 
  <a class="h5peditor-label h5peditor" href="javascript:void(0);" onclick="addChoiceStatement('addNew');">+ <%=window.parent.Drupal.t('LBL287')%> <%=window.parent.Drupal.t('LBL3040')%></a>
</div>
<%
vtip();
%>
 
   
  
