<%
var pauseState = "";
//by default select pause check box #73378
var defaultSelection = "";

if(GLOBALPARAMS_H5P.pause == false)
	pauseState = "uncheckPause";
else
{
	pauseState = "checkPause";
	defaultSelection = "checked = checked";
	}	
if(GLOBALPARAMS_H5P.displayType == "button"){
	GLOBALPARAMS_H5P.buttonIsChecked = "buttonIsChecked";
	GLOBALPARAMS_H5P.posterIsUnchecked = "posterIsUnchecked";
}
else{
	GLOBALPARAMS_H5P.posterIsUnchecked = "posterIsChecked";
	GLOBALPARAMS_H5P.buttonIsChecked = "buttonIsUnchecked";
}

console.log('$(".e1-tip").size():',$(".e1-tip").size());
if($(".e1-tip").size() > 0)
{
	pauseState = "checkPause";
	defaultSelection = "checked = checked";
}


%>

<a id="control-close" class="qtip-close-button" onclick="closeH5PIcon(this)"></a>
<%
  if(GLOBALPARAMS_H5P.action.library == "H5P.Image 1.0")
   {
%>
   <div class="e1_h5p_error" style="height:auto;margin-left:-42px;"></div>
<%
  }
 else
  {
%>
<div class="e1_h5p_error" style="height:auto;"></div>
<%
  }
%>
<div class="field duration h5peditor-interaction-duration" style="margin:0px;">
      <label class="h5peditor-label-wrapper"><span class="h5peditor-label h5peditor-required"><%=window.parent.Drupal.t('LBL3038')%>:</span><input class="h5peditor-text" id="durationfrom" type="text" value="<%= GLOBALPARAMS_H5P.duration.fromDisplay %>" placeholder="<%=window.parent.Drupal.t('LBL649')%>" maxlength="15"> - <input class="h5peditor-text" type="text" id="durationto" value="<%= GLOBALPARAMS_H5P.duration.toDisplay %>" placeholder="<%=window.parent.Drupal.t('LBL621')%>" maxlength="15"></label>
   </div>
   <div class="field boolean h5peditor-interaction-pause">
      <label class="h5peditor-label <%= pauseState %>"><input type="checkbox" id="pausevideo" <%= defaultSelection %> onclick="pauseVideoEvent(this);" ></input><%=window.parent.Drupal.t('LBL3029')%></label>
   </div>
   <%
   		if((GLOBALPARAMS_H5P.action.library != "H5P.Nil 1.0") && (GLOBALPARAMS_H5P.action.library != "H5P.Link 1.1") && (GLOBALPARAMS_H5P.action.library != "H5P.GoToQuestion 1.0"))
   		{	
   		var displayAsText = window.parent.Drupal.t('MSG802');
   	
   %>
   <div class="field text h5p-image-radio-button-group" style='float:left;'>
      <div class="h5peditor-label"><%=window.parent.Drupal.t('LBL3027')%><img src="/sites/all/themes/core/expertusoneV2/expertusone-internals/images/help-info.png" class="vtip info-enr-upload" title="<%=displayAsText%>">:</div> <span class="h5peditor-label h5peditor-required displayas"></span>
      <div class="h5p-image-radio-button-container">
      	<%
      		if(GLOBALPARAMS_H5P.buttonIsChecked == "buttonIsChecked")
      		{
      	%>
         		<div class="h5p-image-radio-button button buttonIsChecked">
         		   <input type="radio" name="displayType" value="button" checked id="h5p-image-radio-button-0" onclick="displayTypeEvent(this);">
            		<label for="h5p-image-radio-button-0">
               			<div class="image-container" alt="Button"></div>
               				<span><%=window.parent.Drupal.t('LBL3030')%></span>
            		</label>
         		</div>
         		<div class="h5p-image-radio-button poster posterIsUnchecked">
            		<input type="radio" name="displayType" value="poster" id="h5p-image-radio-button-1"  onclick="displayTypeEvent(this);">
            			<label for="h5p-image-radio-button-1">
               				<div class="image-container" alt="Poster"></div>
               					<span><%=window.parent.Drupal.t('LBL3031')%></span>
            			</label>
         		</div>
         	<%
         	}
         	else
         	{
         	%>
         		<div class="h5p-image-radio-button button buttonIsUnchecked">
         		   <input type="radio" name="displayType" value="button" id="h5p-image-radio-button-0" onclick="displayTypeEvent(this);">
            		<label for="h5p-image-radio-button-0">
               			<div class="image-container" alt="Button"></div>
               				<span>Button</span>
            		</label>
         		</div>
         		<div class="h5p-image-radio-button poster posterIsChecked">
            		<input type="radio" name="displayType" value="poster" checked id="h5p-image-radio-button-1"  onclick="displayTypeEvent(this);">
            			<label for="h5p-image-radio-button-1">
               				<div class="image-container" alt="Poster"></div>
               					<span>Poster</span>
            			</label>
         		</div>
         	
         	<%
         	}
         	%>
      </div>
      
        
        
     
      <div class="h5peditor-field-description"><b>Button</b> is a collapsed interaction the user must press to open. <b>Poster</b> is an expanded interaction displayed directly on top of the video</div>
   </div>
   
   <%
   }
   %>
   
   
		<%
      if(GLOBALPARAMS_H5P.action.library == "H5P.Image 1.0")
        {
        %>
		   <div class="form-item form-type-file form-item-image form-item-files-video uploadiconbgshow">
		      <label class="h5peditor-label-wrapper"><span class="h5peditor-label h5peditor-required"><%=window.parent.Drupal.t('LBL3044')%>:</span> </label>
		      <form  id="uploadimage" action="" method="post" enctype="multipart/form-data">
		         <input autocomplete="off" class="addedit-edit-video addedit-edit-file-upload form-file" tabindex="4" type="file" name="file" id="uploadImg" value="<%=GLOBALPARAMS_H5P.action.params.file%>" size="35">
		      	 <span class="customlabelfileupload"><%=window.parent.Drupal.t('MSG892')%></span>
		      	 <span class="customlabelfileuploadhelp upload-msg-style"><%=window.parent.Drupal.t('MSG779')%></span>
		         <input type="hidden" name="contentId" value=<%= H5PEditor.contentId %> >
		         <input type="hidden" name="dataURI" >
		         <input type="hidden" name="field" value='{"name":"file","type":"image","label":"Image"}' >
		      </form>
		      
		      
		      
		   </div>
      <%
      }
      

      %>
      

      
