
<div class="field text h5peditor-interaction-label">
	<label class="h5peditor-label-wrapper">
		<span class="h5peditor-label"><%=window.parent.Drupal.t('LBL3034')%>:</span>
		<input class="h5peditor-text" value="<%=GLOBALPARAMS_H5P.label%>" id="labelid" type="text"  maxlength="100">
	</label>
	<div class="h5p-errors"></div>
	<div class="h5peditor-field-description">Label displayed next to interaction icon.</div>
</div>
<div class="field text h5peditor-interaction-hover">
	<label class="h5peditor-label-wrapper">
		<span class="h5peditor-label"><%=window.parent.Drupal.t('LBL3039')%> <%=window.parent.Drupal.t('LBL3032')%>:</span>
		<input class="h5peditor-text" value="<%=GLOBALPARAMS_H5P.action.params.title%>" id="titleid" type="text" maxlength="255">
	</label>
	
</div>
				
		
	
					
					
					
					
<script>
ns.$(".displayas").css("width","20px");
if(GLOBALPARAMS_H5P.displayType == "poster")
  		{
  			ns.$("#labelid").parent().parent().hide();
  		}
vtip();
ns.$("#uploadImg").change(function(e){
	var filename = $("#uploadImg").val();
	if(filename != "" || filename != undefined)
	{
		filename = filename.replace("\\","/");
		filename = filename.replace("\\","/");
		filename = filename.split("/");
		
		$(".customlabelfileupload").html(window.parent.Drupal.t("Uploading")+"...");
		$("#uploadimage").addClass("afterUpload");
		$("#uploadImg").hide();
	    $(".customlabelfileuploadhelp").hide();
		
	}	
	$("#uploadimage").submit();
});

$("#uploadimage").on('submit',(function(e) {

e.preventDefault();
window.parent.EXPERTUS_SMARTPORTAL_AbstractDetailsWidget.createLoader("modalContent");
ns.$.ajax({
url: window.parent.Drupal.settings.h5peditor.ajaxPath+"files", // Url to which the request is send
type: "POST",             // Type of request to be send, called as method
data: new FormData(this), // Data sent to server, a set of key/value pairs (i.e. form fields and values)
contentType: false,       // The content type used when sending data to the server.
cache: false,             // To unable request pages to be cached
processData:false,        // To send DOMDocument or non processed data file it is set to false
success: function(data)   // A function to be called if request succeeds
{
	window.parent.EXPERTUS_SMARTPORTAL_AbstractDetailsWidget.destroyLoader("modalContent");
	var jsonobj = JSON.parse(data);
	var filename = jsonobj.path;
	//alert(filename);
	if(filename != "" && filename != undefined)
	{
	 var filenamearr = filename.split("^^^");
	
	//alert(222222222222);
	//alert(jsonobj);
	//alert(filename);
	
	
	$(".customlabelfileupload").hide();
	
	//$(".customlabelfileupload").html(filenamearr[0]+"&nbsp;<a href='javascript:void(0);' onclick='showeditimageupload();'>x</a>");
	//$(".customlabelfileupload").html("<div id='tmpdata2'><div class='fade-out-title-container  poster-image-title-fadeout-container'><span class='title-lengthy-text'>" +filenamearr[0]+"</span><span class='fade-out-image'></span></div>&nbsp;<a href='javascript:void(0);' onclick='showeditimageupload();'>x</a></div>");
	//var htm = "<div id='tmpdata2'><div class='fade-out-title-container image-popup-title-fadeout-container'><span class='title-lengthy-text'>" +filenamearr[0]+"</span><span class='fade-out-image'></span></div>&nbsp;<a href='javascript:void(0);' onclick='showeditimageupload();'>x</a></div>";
	//$("#uploadimage").append(htm);
    var lengthytitle = '';	
	if(filenamearr[0].length > 12)
					lengthytitle = '<div class="fade-out-title-container  image-popup-title-fadeout-container"><span class="title-lengthy-text">'+filenamearr[0]+'</span><span class="fade-out-image"></span></div>';
				else
					lengthytitle = filenamearr[0];


var htm = "<div id='tmpdata2'>" +lengthytitle+ "&nbsp;<a href='javascript:void(0);' onclick='showeditimageupload();'>x</a></div>";
	$("#uploadimage").append(htm);
	
	
	$("#uploadImg").attr("processedresponse",data);
	$("#uploadImg").attr("filename",filename);
	//$("#uploadImg").val(jsonobj.path);

  }
  else{
   showeditimageupload();
   displayh5pexpertusmsg(window.parent.Drupal.t('MSG779'));
			    //  return "";  
			    }

	
}
});
}));
function showeditimageupload()
{
    $("#tmpdata2").remove();
	$("#uploadImg").show();
	$("#uploadImg").val("");
	$(".customlabelfileuploadhelp").show();
	//$(".customlabelfileupload").html("");
	$("#uploadimage").removeClass("afterUpload");
	$(".customlabelfileupload").html(window.parent.Drupal.t('MSG892'));
	$(".customlabelfileupload").show();
	
	$("#uploadImg").attr("filename","");
}

if(GLOBALPARAMS_H5P.action.params.file != undefined && GLOBALPARAMS_H5P.action.params.file != "")
{
	//alert(GLOBALPARAMS_H5P.action.params.file.path);
	var filenamearr = GLOBALPARAMS_H5P.action.params.file.path.split("^^^");
	//$(".customlabelfileupload").html(filenamearr[0]+"&nbsp;<a href='javascript:void(0);' onclick='showeditimageupload();'>x</a>");
	
	 var lengthytitle = '';	
	if(filenamearr[0].length > 12)
					lengthytitle = '<div class="fade-out-title-container  image-popup-title-fadeout-container"><span class="title-lengthy-text">'+filenamearr[0]+'</span><span class="fade-out-image"></span></div>';
				else
					lengthytitle = filenamearr[0];


    var htm = "<div id='tmpdata2'>" +lengthytitle+ "&nbsp;<a href='javascript:void(0);' onclick='showeditimageupload();'>x</a></div>";
	$("#uploadimage").append(htm);
	
	$("#uploadImg").attr("filename",GLOBALPARAMS_H5P.action.params.file.path);
	$("#uploadImg").hide();
	$(".customlabelfileuploadhelp").hide();
	$(".customlabelfileupload").hide();
	$("#uploadimage").addClass("afterUpload");
}
</script>
