 
	<%
	if(GLOBALPARAMS_H5P.action.params.contenttype == "presentation")
	{
   %>
	<a id="control-close" class="qtip-close-button" onclick="closeH5PIcon(this)"></a>
    <div class="e1_h5p_error" style="height:auto;margin-top: -17px;"></div>
    <%
    }
    var tipData = "";
    var placeHolderQuestion = "";
    var placeHolderText = "";
    var resultMsg = "";
    var helpText = "";
  if(GLOBALPARAMS_H5P.action.library == "H5P.MarkTheWords 1.5")
    { 
    placeHolderQuestion = window.parent.Drupal.t('MSG912')+" "+window.parent.Drupal.t('MSG894');
    placeHolderText = window.parent.Drupal.t('MSG895');
    resultMsg = window.parent.Drupal.t('MSG906', {'@interaction' : "'" + window.parent.Drupal.t('Mark the Words') + "'" });
     
        tipData =  "<span style='width:330px;display:block;padding-left:10px;'>";
        tipData += "<span>"+resultMsg+"</span>";
    	tipData += "<br/><br/><span>"+window.parent.Drupal.t('MSG905')+"</span>";
    	tipData += "<br/><br/>";
    	tipData += "<span>"+window.parent.Drupal.t('MSG912')+"</span><br/>";
    	tipData += "<span>The quick brown *fox* jumps *over* the lazy *dog*.</span>";
    	tipData += "<br/><br/>";
    	tipData +=  window.parent.Drupal.t('MSG909');
    	tipData += "<br/>";
    	tipData += "<span>The quick brown fox jumps over the lazy dog.</span>";
    	tipData += "<br/><br/>";
    	tipData += window.parent.Drupal.t('MSG914'); 
    	tipData += "</span>"; 
    }
    else if(GLOBALPARAMS_H5P.action.library == "H5P.DragText 1.4")
    {
     placeHolderQuestion = window.parent.Drupal.t("MSG912")+" "+window.parent.Drupal.t('MSG896');
     placeHolderText = window.parent.Drupal.t('MSG897');
     resultMsg = window.parent.Drupal.t('MSG906', {'@interaction' : "'" + window.parent.Drupal.t('Drag Text') + "'"  });
     
        tipData =  "<span style='width:330px;display:block;padding-left:10px;'>";
        tipData += "<span>"+resultMsg+"</span>";
    	tipData += "<br/><br/><span>"+window.parent.Drupal.t('MSG905')+"</span>";
    	tipData += "<br/><br/>";
    	tipData += "<span>"+window.parent.Drupal.t('MSG912')+"</span><br/>";
    	tipData += "<span>The quick brown *fox* jumps *over* the lazy *dog*.</span>";
    	tipData += "<br/><br/>";
    	tipData +=  window.parent.Drupal.t('MSG909');
    	tipData += "<br/>";
    	tipData += "<span>The quick brown <input class='help-text-h5p-drop' type=text size=5></input> jumps <input class='help-text-h5p-drop' type=text size=5> the lazy <input class='help-text-h5p-drop' type=text size=5>.</span>";
    	tipData += "<br/><br/>";
    	tipData += "<input class='help-text-h5p-drag' type=text value='over' size=5 style='margin-left:40px'></input> <input class='help-text-h5p-drag' value='dog' type=text size=5></input> <input class='help-text-h5p-drag' type=text value='fox' size=5></input> "
    	tipData += "<br/><br/>";
    	tipData += window.parent.Drupal.t('MSG916'); 
    	tipData += "</span>"; 
    }
    %>
    
<div class="libwrap h5p-markthewords-editor">	
	<div class="field text">
		<label class="h5peditor-label-wrapper">
			<span class="h5peditor-label h5peditor-required"><%=window.parent.Drupal.t('LBL325')%>:</span>
			<input placeholder="<%= placeHolderQuestion %>" class="h5peditor-text striptags" id="taskDescription" value="<%=GLOBALPARAMS_H5P.action.params.taskDescription%>" type="text"  maxlength="255">
		</label>
		
	</div>
	<div class="field text h5peditor-interaction-text">
   <label class="h5peditor-label-wrapper">
      <span class="h5peditor-label h5peditor-required dragMarkHelpText"><%=window.parent.Drupal.t('LBL3032')%>
      <% if(GLOBALPARAMS_H5P.action.params.contenttype == "presentation"){  %>
         <img src="/sites/all/themes/core/expertusoneV2/expertusone-internals/images/help-info.png" class="vtip  medium-vtip" title="<%= tipData %>" style="cursor: pointer; float: right;margin: 2px 48px 0 0; max-height: 15px;"></img>
      <% } else {%>
      <img src="/sites/all/themes/core/expertusoneV2/expertusone-internals/images/help-info.png" class="vtip  medium-vtip" title="<%= tipData %>" style="cursor: pointer; float: right;margin: 5px 50px 0 0; max-height: 15px;"></img>
     <% }%>
      :</span>
      <textarea placeholder="<%= placeHolderText %>" id="formattextbox" rows=3 cols=40 class="h5peditor-text striptags" value=""><%=GLOBALPARAMS_H5P.action.params.textField%></textarea>
  </label>
  
  
  <%
	if(GLOBALPARAMS_H5P.action.params.contenttype != "presentation")
	{
   %>
  
	<div class="field text h5peditor-interaction-label">
       <label class="h5peditor-label-wrapper"><span class="h5peditor-label"><%=window.parent.Drupal.t('LBL3034')%>:</span><input class="h5peditor-text" id="labelid" type="text" value="<%=GLOBALPARAMS_H5P.label%>" maxlength="100"></label>  
    </div> 
   <%
     }
   %>
    
    		
</div>
<script>
     
      
  		if(GLOBALPARAMS_H5P.displayType == "poster")
  		{
  			ns.$("#labelid").parent().parent().hide();
  		}
		vtip();
   </script>
