<%
	var chkBoxCls = GLOBALPARAMS_H5P.action.params.visuals.controls == true?"checkPause":"uncheckPause";
	var enabledOr = GLOBALPARAMS_H5P.action.params.visuals.controls == true?"checked":"";
	
	var chkBoxPly 	= GLOBALPARAMS_H5P.action.params.playback.autoplay == true?"checkAutoplay":"uncheckAutoplay";
	var enabledOrPly = GLOBALPARAMS_H5P.action.params.playback.autoplay == true?"checked":"";
%>

 <a id="control-close" class="qtip-close-button" onclick="closeH5PIcon(this)"></a>
 <div class="e1_h5p_error" style="height:auto;margin-top: -17px;"></div>
 

<div class="form-item form-type-file form-item-image form-item-files-video">
		      <label class="h5peditor-label-wrapper"><span class="h5peditor-label h5peditor-required" ><%=window.parent.Drupal.t('Video')%>:</span> </label>
		      <form  id="uploadimage" action="" method="post" enctype="multipart/form-data">
		         <input autocomplete="off" class="addedit-edit-video addedit-edit-file-upload form-file" tabindex="4" type="file" name="file" id="uploadImg" value="<%=GLOBALPARAMS_H5P.action.params.sources[0].path%>" size="35">
		      	 <span class="customlabelfileupload"><%=window.parent.Drupal.t('MSG892')%></span>
		      	 <span class="customlabelfileuploadhelp upload-msg-style"><%=window.parent.Drupal.t('MSG369')%></span>
		         <input type="hidden" name="contentId" value=<%= H5PEditor.contentId %> >
		         <input type="hidden" name="dataURI" >
		         <input type="hidden" name="field" value='{"name":"file","type":"video","label":"Video"}' >
		      </form>
</div>
   
   <div class="field boolean h5peditor-interaction-audio-pause" >
      <label class="h5peditor-label "><%=window.parent.Drupal.t('Add Controls')%>:<img src="/sites/all/themes/core/expertusoneV2/expertusone-internals/images/help-info.png" class="vtip  medium-vtip" title="<%=window.parent.Drupal.t('MSG898')%>" style="cursor: pointer; margin-left: 10px; margin-bottom: -2px"></img></label>
</div>
      <div class="form-item-check <%= chkBoxCls%>">
      		<input type="checkbox" id="pauseVid" onclick="pauseEvent(this);" <%= enabledOr %>  ></input>
      </div>
      
 <!--     <div class="customlabeltextVid embed-msg-style" style="position: relative;top: -2px;left:-31px">Add controls to the video player. This allows users to play, pause, etc.</div> -->
    </div>
					
	<div class="field boolean h5peditor-interaction-audio-autoplay">
      <label class="h5peditor-label"><%=window.parent.Drupal.t('Autoplay')%>:&ensp;<img src="/sites/all/themes/core/expertusoneV2/expertusone-internals/images/help-info.png" class="vtip  medium-vtip" title="<%=window.parent.Drupal.t('MSG899')%>" style="cursor: pointer; margin-left: 10px; margin-bottom: -2px "></img></label>
      <div class="form-item-check  <%= chkBoxPly %>">
	      <input type="checkbox" id="autoPlayVid" onclick="autoplayEvent(this);" <%= enabledOrPly %> ></input>

      </div>
      <!-- <div class="customlabeltextVid embed-msg-style" style="position: relative;left:-31px">Start playing the video automatically. May not work on mobile devices.</div> -->
   </div>	
				
		
	
					
					
					
					
<script>



ns.$("#uploadImg").change(function(e){
	var filename = $("#uploadImg").val();
	var lastPoint = filename.lastIndexOf(".");
	extension = filename.substring(lastPoint+1, filename.length);
	if(extension!='mp4'){
	showeditimageupload();
	displayh5pexpertusmsg(window.parent.Drupal.t('MSG369'));
	}else{
	if(filename != "" || filename != undefined)
	{
		filename = filename.replace("\\","/");
		filename = filename.replace("\\","/");
		filename = filename.split("/");
		
		$(".customlabelfileupload").html(window.parent.Drupal.t("Uploading")+"...");
		$("#uploadimage").addClass("afterUpload");
		$("#uploadImg").hide();
	    $(".customlabelfileuploadhelp").hide();
		
	}	
	$("#uploadimage").submit();
	}
});

$("#uploadimage").on('submit',(function(e) {

e.preventDefault();
window.parent.EXPERTUS_SMARTPORTAL_AbstractDetailsWidget.createLoader("modalContent");

ns.$.ajax({
url: window.parent.Drupal.settings.h5peditor.ajaxPath+"files", // Url to which the request is send
type: "POST",             // Type of request to be send, called as method
data: new FormData(this), // Data sent to server, a set of key/value pairs (i.e. form fields and values)
contentType: false,       // The content type used when sending data to the server.
cache: false,             // To unable request pages to be cached
processData:false,        // To send DOMDocument or non processed data file it is set to false
success: function(data)   // A function to be called if request succeeds
{
	window.parent.EXPERTUS_SMARTPORTAL_AbstractDetailsWidget.destroyLoader("modalContent");
	var jsonobj = JSON.parse(data);
	var filename = jsonobj.path;
	
	if(filename != "" && filename != undefined)
	{
	var filenamearr = filename.split("^^^");
	
	$(".customlabelfileupload").hide();
	
	var lengthytitle = '';	
	if(filenamearr[0].length > 12)
					lengthytitle = '<div class="fade-out-title-container  image-popup-title-fadeout-container"><span class="title-lengthy-text">'+filenamearr[0]+'</span><span class="fade-out-image"></span></div>';
				else
					lengthytitle = filenamearr[0];


var htm = "<div id='tmpdata3' style='font-size:11px;'><span  style='vertical-align:4px;'>" +lengthytitle+ "&nbsp;</span><a href='javascript:void(0);' onclick='showeditimageupload();'>x</a></div>";
	$("#uploadimage").append(htm);
	
	
	$("#uploadImg").attr("processedresponse",data);
	$("#uploadImg").attr("filename",filename);
	//$("#uploadImg").val(jsonobj.path);

 }
   else{
   showeditimageupload()
   displayh5pexpertusmsg(window.parent.Drupal.t('MSG369'));
			    //  return "";  
			    }

	
}
});
}));
function showeditimageupload()
{
    $("#tmpdata3").remove();
	$("#uploadImg").show();
	$("#uploadImg").val("");
	$(".customlabelfileuploadhelp").show();
	//$(".customlabelfileupload").html("");
	$("#uploadimage").removeClass("afterUpload");
	$(".customlabelfileupload").html(window.parent.Drupal.t('MSG892'));
	$(".customlabelfileupload").show();
	
	$("#uploadImg").attr("filename","");
}

if(GLOBALPARAMS_H5P.action.params.sources != undefined && GLOBALPARAMS_H5P.action.params.sources != "" && GLOBALPARAMS_H5P.action.params.sources[0].path.length>0)
{
	//alert(GLOBALPARAMS_H5P.action.params.file.path);
	var filenamearr = GLOBALPARAMS_H5P.action.params.sources[0].path.split("^^^");
	//$(".customlabelfileupload").html(filenamearr[0]+"&nbsp;<a href='javascript:void(0);' onclick='showeditimageupload();'>x</a>");
	
	 var lengthytitle = '';	
	if(filenamearr[0].length > 12)
					lengthytitle = '<div class="fade-out-title-container  image-popup-title-fadeout-container"><span class="title-lengthy-text">'+filenamearr[0]+'</span><span class="fade-out-image"></span></div>';
				else
					lengthytitle = filenamearr[0];


    var htm = "<div id='tmpdata3' style='font-size:11px;'><span style='vertical-align:4px;'>" +lengthytitle+ "&nbsp;</span><a href='javascript:void(0);' onclick='showeditimageupload();'>x</a></div>";
	$("#uploadimage").append(htm);
	
	$("#uploadImg").attr("filename",GLOBALPARAMS_H5P.action.params.sources[0].path);
	$("#uploadImg").hide();
	$(".customlabelfileuploadhelp").hide();
	$(".customlabelfileupload").hide();
	$("#uploadimage").addClass("afterUpload");
}
vtip();
</script>